Manifest.toml
Manifest-v1.12.toml
Zarr/Manifest.toml
Zarr/Manifest-v*.toml
docs/build
*.zarr
.CondaPkg
.vscode
*.cov
Zarr/test/v3_julia/
Zarr/test/v3_python/
Zarr/test/.minio.sys/
node_modules
package-lock.json
docs/src/changelog.md
docs/src/contributing.md
*.png
*.ico
.DS_Store
!logo.png
!favicon.ico
